header{
    height: 8vh;
    box-shadow: 0 0 3px 1px lightgrey;
    background: white;
    padding: 0 20%;
    justify-content: space-between;
    align-items: center;
}

header nav{
    justify-content: space-around;
    align-items: center;
}

header nav a{
    margin: 0 1vmax;
}

#logo #first{
    color: #333;
}
#logo #second{
    color: var(--secondary-color);
}

.left-content-container{
    flex: 10%;
    margin: 1vmin;
    padding: 1vmax;
}

.main-content-container{
    flex: 50%;
    background: white;
    margin: 1vmin;
    padding: 1vmax;
}

.right-content-container{
    flex: 10%;
    margin: 1vmin;
}

.error-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.error-container  button{
    padding: 1vmin 3vmax;   
    background: var(--secondary-color);
    color: white;
    border-radius: 5px;
}

.error-container .content-container{
    border: solid 1px var(--secondary-color);
    padding: 1vmax 2vmax;
}