.login-container{
 height: 100%;
}

.login-heading-container{
    background-image: url('images/background_nVentory.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex: 40%;
}
.login-heading-container  *:not(#login-overlay){
    z-index: 2;
}

.login-heading-container h1{
    font-size: 4rem;
}


.actual-login-container{
    flex: 60%;
    justify-content: center;
    align-items: center;
}
.actual-login-container > *{
    margin: 1vmax 0;
}

#login-overlay{
    background-image: linear-gradient(to bottom, rgba(242, 243, 245,0.9), rgba(255,255,255,0.6));
    justify-content: center;
    align-items: center;
}
.errMsg{
    color: red;
    padding: 1vmax 2vmax;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0.2), white);
    border: solid 1px red;
}

.infoMsg{
    color: var(--primary-green);
    padding: 1vmax 2vmax;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(to bottom right, var(--secondary-green), white);
    border: solid 1px var(--primary-green);
}

.regularUser-container{
    background: var(--primary-gray);
    height: 100%;
    overflow: scroll;
}

.regularUser-content{
    min-height: 100%;
}

.regularUser-right-content-container section{
    background: white;
    padding: 1vmax;
    margin: 0.5vmax;

}

.regularUser-main-content-container section{
    margin: 1vmax;
    border-bottom: solid 1px lightgray;
}


.regularUser-main-content-container{
    margin:1vmax;
}
.user-info-cta{
    justify-content: flex-start;
    align-items: center;
}
.regularUser-content section > form{
    margin: 1vmax;
}

#deactivate{
    width: 100%;
    text-align: center;
}

#deactivate input{
    background: tomato;
}